/*LOCATION OF GRAVES*/

#S_Abramowski{
    top: 305px;
    left: 444px;
    transform:rotate(10deg);
}

#W_Borowiec{
    top: 126px;
    left: 357px;
    transform:rotate(25deg);
}

#H_Borowski{
    top: 430px;
    left: 1011px;
    transform:rotate(45deg);
}

#B_Budelewski{
    top: 146px;
    left: 357px;
    transform:rotate(25deg);
}

#E_Bukowski{
    top: 321px;
    left: 441px;
    transform:rotate(10deg);
}

#J_Czeredys{
    top: 337px;
    left: 438px;
    transform:rotate(10deg);
}

#J_Czerwiakowski{
    top: 410px;
    left: 1011px;
    transform:rotate(45deg);
}

#B_Czescik{
    top: 186px;
    left: 357px;
    transform:rotate(25deg);
}
#H_Dekutowski{
    top: 268px;
    left: 411px;
    transform:rotate(45deg);
}
#A_Gajdek{
    top: 246px;
    left: 453px;
    transform:rotate(10deg);
}
#S_Glowacki{
    top: 348px;
    left: 1091px;
    transform:rotate(45deg);
}
#R_Gronski{
    top: 189px;
    left: 453px;
    transform:rotate(10deg);
}
#M_Kaczmarek{
    top: 328px;
    left: 371px;
    transform:rotate(45deg);
}
#S_Kasznica{
    top: 146px;
    left: 337px;
    transform:rotate(25deg);
}
#A_Kita{
    top: 375px;
    left: 600px;
    transform:rotate(9deg);
}
#B_Kontrym{
    top: 106px;
    left: 377px;
    transform:rotate(25deg);
}
#J_Kozlowski{
    top: 117px;
    left: 1092px;
    transform:rotate(45deg);
}
#Z_Kulinski{
    top: 326px;
    left: 257px;
    transform:rotate(25deg);
}
#S_Kutryb{
    top: 448px;
    left: 511px;
    transform:rotate(45deg);
}
#S_Lukasik{
    top: 256px;
    left: 257px;
    transform:rotate(25deg);
}
#J_Lukaszewicz{
    top: 272px;
    left: 448px;
    transform:rotate(45deg);
}
#J_Miatkowski{
    top: 185px;
    left: 427px;
    transform:rotate(10deg);
}
#S_Mieszkowski{
    top: 341px;
    left: 604px;
    transform:rotate(9deg);
}
#A_Olechnowicz{
    top: 353px;
    left: 435px;
    transform:rotate(10deg);
}
#M_Orlik{
    top: 378px;
    left: 620px;
    transform:rotate(9deg);
}
#R_Pawlowski{
    top: 226px;
    left: 457px;
    transform:rotate(25deg);
}
#T_Pelak{
    top: 148px;
    left: 311px;
    transform:rotate(45deg);
}
#Z_Przybyszewski{
    top: 344px;
    left: 626px;
    transform:rotate(9deg);
}
#E_Pytko{
    top: 338px;
    left: 311px;
    transform:rotate(45deg);
}
#K_Rakoczy{
    top: 59px;
    left: 582px;
    transform:rotate(25deg);
}
#E_Smolinski{
    top: 85px;
    left: 883px;
    transform:rotate(45deg);
}
#D_Sosnowski{
    top: 126px;
    left: 537px;
    transform:rotate(25deg);
}
#Z_Szendzielarz{
    top: 72px;
    left: 761px;
    transform:rotate(45deg);
}
#Z_Szymanowski{
    top: 400px;
    left: 582px;
    transform:rotate(25deg);
}
#L_Swider{
    top: 414px;
    left: 821px;
    transform:rotate(45deg);
}
#A_Tomaszewski{
    top: 226px;
    left: 537px;
    transform:rotate(25deg);
}
#E_Tudruj{
    top: 195px;
    left: 425px;
    transform:rotate(10deg);
}
#W_Walicki{
    top: 426px;
    left: 737px;
    transform:rotate(25deg);
}
#A_Wasilewski{
    top: 199px;
    left: 451px;
    transform:rotate(10deg);
}
#R_Widelski{
    top: 306px;
    left: 1075px;
    transform:rotate(25deg);
}