.body{
}

@font-face { font-family: Ralway_light; src: url('Raleway-Light.otf'); }

/*HOME MENU*/

.home-menu {
    background: white;
    height: 110px;
}

.home-menu .pure-menu {
    color: dodgerblue;
    font-weight: 400;
    font-size: 120%;
}

.home-menu ul{
    position: relative;
    float: left;
    left: 50%;
    margin-top: 3%;
}

.home-menu li a:visited {
    background: none;
    border: none;
    color: #aecfe5;
}

.home-menu li a:active {
    background: none;
    border: none;
    color: black;
}

.logo {
    height: 70px;
    width: auto;
    position: relative;
    float: left;
    margin-left: 3%;
    margin-top: 15px;
}

/* SPLASH*/

.cementary {

    position: relative;
    margin-top: 120px;
    background-color: white;
    background-image: url(../../img/laczka005.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 1350px;
    height: 450px;
    background-size: contain;
}

.grave{
    position: absolute;
    float:left;
    display:block;

    opacity: 0.4;
    width: 30px;
    height: 15px;
    background: url("../../img/grob_krzyz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index:2;
    /*background-color: red;*/
}

.grave:hover {
    opacity: 0.8;
}

.unex{
    position: absolute;
    float:left;
    display:block;
    opacity: 0.2;
    z-index: 1;
}

.unex:hover {
    opacity: 0.4;
}

.unexplored{
    width: 100px;
    height: 280px;
    background: url("../../img/yellow.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1px;
    margin-left:231px;
}

.unexplored2{
    width: 258px;
    height: 102px;
    background: url("../../img/yellow2.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 339px;
    margin-left:228px;  /
}

.unexplored3{
    width: 400px;
    height: 300px;
    background: url("../../img/yellow3.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 350px;
    margin-left:290px;
}

.unexplored4{
    width: 253px;
    height: 152px;
    background: url("../../img/yellow4.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 397px;
    margin-left: 598px;  /
}

.pantheon{
    position: absolute;
    float:left;
    display:block;
    opacity: 0.2;
    width: 179px;
    height: 179px;
    background: url("../../img/blue.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 101px;
    margin-left: 388px;
    z-index: 1;
}

.pantheon:hover {
    opacity: 0.4;
}

/* CONTENT*/

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 570px;
    width: 100%;
    min-height: 10%;
    z-index: 5;
    background: white;

}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0 1em;
    margin-top: 7px;
}



/* BOCZNE OKNO */

.right_sidebar{
    position: fixed;
    width: 262px;
    height: 453px;
    z-index: 3;
    float: left;
    left: 0;
    background-color: white;
}

.aim{
    font-size: 14px;
    margin-left: 25px;
    margin-right: 16px;
    margin-top: 20px;
    line-height: 16px;
}

#left_sidebar {
    background-color: white;
    /*#F7F7F1;*/
    position: fixed;
    right: 0;
    top: 5px;
    margin-top: 110px;
    width: 230px;
    height: 452px;
    z-index: 1;
    box-shadow: 0 0 3px rgba(0.0, 0.0,0.0, 0.0);
    overflow-y:scroll;

}

.list{
    font-size: 12px;
    cursor: pointer;
    background-image: url("../../img/cross.png");
    background-size: 8px 12px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
    margin-left: -20px;
}


.list:hover{
    color: #E53A34;
}

ul{
    margin-top: 5px;
    line-height: 15px;
    list-style-type: none;
}

.rw {
    background-color: white;
    position: fixed;
    top: 5px;
    margin-top: 115px;
    margin-left: 10px;
    width: 250px;
    height: 445px;
    z-index: 4;
    box-shadow: 0px 0px 3px lightgrey;
    border-radius: 7px;

}

.hidden {
    visibility: hidden;
}

.off{
    width: 5%;
    height: auto;
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    z-index: 9;
    visibility: inherit;
}

#img{
    width: 100%;
    height: 150px;
    float: left;
    background-color: white;
    /*#F7F7F1;*/
    /*#E6E5D4;*/
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

#img_back{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.biography{
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 9;
    visibility: inherit;
    font-size: 14px;
    width: 80%;
}

.link-to-biography{
    position: relative;
    margin-top: 10px;
    z-index: 9;
    visibility: inherit;
    text-align: center;
}

/* LABELE I BUTTONY */

.pure-button {
    width: 100%;
}

.pure-textarea {
    width: 100%;
}

p {
    margin: 2px auto;
}

#rnk {
    font-family: 'Ralway_light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: #44516c;
    text-align: center;
    letter-spacing: 0;
}

#who {
    font-family: 'Ralway_light';
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    /*text-transform: uppercase;*/
    color: #44516c;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    width: 90%;

}


#psd {
    font-family: 'Ralway_light';
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    color: firebrick;
    text-align: center;
}

.laczka {
}

#img_pantheon{
    width: 100%;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
    float: left;
    background-color: white;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url("../../img/panteon.jpg");

}

.text_pantheon{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10 px;
    width: 100%;
}

.people_unexplored{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
}

.people_unex{
    background-image: url("../../img/cross.png");
    background-size: 8px 12px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
    margin-left: -20px;
    line-height: 20px;
}

.people_unex_ul{
    margin-top: 20px;
 }